#banniere{
  
}

#menu{
  background: #857dcc;
}

#corps{
  display: flex;
  flex-direction: row; 
  flew-wrap:  wrap;
}

.content{
  flex:0.5;
}

.class{
  
}

#renseignement{
  
}
