header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

header :nth-child(1){
  flex:1;
}

#banniere{
  
}

#menu{
  background: #857dcc;
  display:flex;
  flex-direction:row;
}

#corps{
  display: flex;
  flex-direction: row; 
  flex-wrap:  wrap;
  justify-content: space-around;
  align-items:baseline;
}

.content{
  flex:0.5;
  padding: 10px;
}

.tab{
  flex:1;
}

#renseignement{
  
}
